# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Icons/Adsız tasarım (5).png
Icons/Css.png
Icons/Figma.png
Icons/Html5.png
Icons/Intellij.png
Icons/java.png
Icons/Javascript.png
Icons/NodeJS.png
Icons/React.png
Icons/ReactQuery.png
Icons/Redux.png
Icons/SpringBoot.png
Icons/TailwindCss.png
Icons/VsCode.png
ProjectSS/Ecommerce.png
ProjectSS/Library.png
ProjectSS/EcommerceBackEnd.png
ProjectSS/PcSample.png
ProjectSS/Pizza.png
ProjectSS/Portfolio.png
public/coding.svg
